.Header {
    height: 150px;
    width: 75%;
    margin-top: 25px;
    display: grid;
    place-items: center;
    background-color: rgb(9, 118, 242);
    border-radius: 15px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.8);
}

.header__heading {
    font-size: 65px;
    color: white;
    font-family: cursive;
    -webkit-text-stroke: 2px rgb(156, 6, 56);
    text-shadow: 0px 0px 3px #FF0000, 0 0 5px #0000FF;
}

.header__courses {
    color: white;
}